@import url('https://fonts.googleapis.com/css?family=Khula&display=swap');

* {
  box-sizing: border-box;
}

body {
  color: #fff;
  font-family: 'Khula', sans-serif;
  height: 100vh;
  overflow: hidden;
  margin: 0;
  text-align: center;
}

a {
  color: #fff;
  text-decoration: none;
}

a:hover {
  color: #16D9E3;
}

.start {
  font-size: 1.5rem;
}

h1 {
  line-height: 1.4;
  font-size: 4rem;
}

.screen {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  width: 100vw;
  transition: margin 0.5s ease-out;
  background: linear-gradient(90deg, #29323C 0%, #485563 100%);
}

.screen.up {
  margin-top: -100vh;
}

.time-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  list-style: none;
  padding: 0;
}

.time-list li {
  margin: 10px;
}

.time-btn {
  background-color: transparent;
  border: 2px solid #C0C0C0;
  color: #fff;
  cursor: pointer;
  font-family: inherit;
  padding: .5rem 1rem;
  font-size: 1.5rem;
}

.btn-current {
  padding-left: 1.5rem;
  padding-right: 1.5rem;
}

.time-btn:hover {
  border: 2px solid #16D9E3;
  color: #16D9E3;
}

.hide {
  opacity: 0;
}

.primary {
  color: #16D9E3;
  font-size: 18px;
}

.board {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  width: 500px;
  height: 500px;
  background: linear-gradient(118.38deg, #29323C -4.6%, #485563 200.44%);
  box-shadow: -8px -8px 20px #2A333D, 10px 7px 20px #475462;
  border-radius: 30px;
  overflow: hidden;
}

.circle {
  
  position: absolute;
  border-radius: 50%;
  cursor: pointer;
}

.board-btn {
  display: flex;
  justify-content:center;
  flex-direction: column;

}

#restart, #exit {
  border: none;
  border-radius: 6px;
  width: 200px;
  background-color: rgb(133, 117, 226);
  color:aliceblue;
  padding: 12px;
  font-size: 20px;
  font-weight: 600;
  transition: 0.3s ease-in-out;
  cursor: pointer;
}
#restart {
  margin-bottom: 10px;
  background-color: rgb(126, 226, 117);
  color:rgb(23, 51, 85);
}
#restart:hover {
    background-color: rgb(75, 164, 67);
    color:rgb(7, 19, 35);
}

#exit {
  margin-top: 10px;
  background-color: rgb(234, 204, 86);
  color:rgb(27, 25, 32);
}

#exit:hover {
  background-color: rgb(230, 117, 24);
}

